= javascript :edit_helpers
= render :partial=>"subscriptions_tupane_header_nav"

= content_for :content do
  #subscription
    %input#panel_element_id{:name=>@subscription.id, :type=>"hidden", :value=>"#{name}_#{subscription.id.to_s}", "data-ajax_url"=>url_for(:action=>"update")}
    .grid_8
      %h5 #{_("Subscription Info")}
